<div class="space-y-3">
  <p class="font-semibold">Define Parameters</p>
  <div class="flex justify-around">
    <ui-form-simple-top-down [formGroup]="form"></ui-form-simple-top-down>
    <div>
      <p>Blast Output</p>
      <p>
        BW =
        {{ form.controls.buildingWidth.valid ? form.value.buildingWidth : '' }}
      </p>
      <p>
        BH =
        {{
          form.controls.buildingHeight.valid ? form.value.buildingHeight : ''
        }}
      </p>
      <p>D = {{ form.controls.distance.valid ? form.value.distance : '' }}</p>
      <p>
        E = {{ form.controls.explosives.valid ? form.value.explosives : '' }}
      </p>
      <p *ngIf="result">
        Result:
        {{ result }}
      </p>
    </div>
  </div>
  <button
    (click)="calc()"
    class="text-indigo-700 bg-indigo-100 p-2 {{
      form.valid ? 'cursor-pointer' : 'cursor-not-allowed'
    }}"
  >
    Blast
  </button>
  <div class="flex flex-col space-y-1">
    <label class="font-semibold">Strengthen</label>

    <input
      type="file"
      id="avatar"
      name="avatar"
      accept="image/png, image/jpeg"
    />
  </div>
  <button class="text-indigo-700 bg-indigo-100 p-2">Strengthen</button>
</div>
